@import './variables.css';

/* === ====================== */
/* === Reset
/* === ====================== */

* {
	box-sizing:  border-box;
}

body {
	margin: 0;
	padding: 0;
}


/* === ====================== */
/* === Général
/* === ====================== */

body {
	width: 100vw;
	height: 100vh;
	padding: 60px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}